.about-page-container header{
  text-align: center;
  padding: 20px;
  line-height: 40px;
}
.know-me{
  color: #5570f8;
  font-weight: bold;
}
.me{
  font-size: 40px;
  font-weight: bold;
}
.page-container{
  display: flex;
  justify-content: space-between;
}
.about-page-container .left{
  width: 30%;
  padding: 20px;
  border-radius: 30px;
  border: 1px solid rgb(210, 210, 210);
  background-color: white;
}
 .image-container {
 }
.image-container img{
 width: 100%;
 border-radius: 30px;
 border: 3px solid #7263f3;
 background-color: white;
 }

 .about-page-container .right{
   width: 65%;
   background-color: darkred;}


 .skills-container{
   height:150px ;
   background-color: yellowgreen;
 }
 .skills-container div{
 display: flex;
  justify-content: space-evenly;
 }
 
 .skills-container div span{
  padding: 15px 20px;
  background-color: rgb(243, 248, 255);
  border-radius: 10px;
}
 .contact-container{
    height:150px;
   background-color:blue;
   }