/*hero-section*/
.hero-container{
  display: flex;
  justify-content: space-between;
  gap: 0px;
}
.greeting{
  color: #5570f8;
  font-weight: bold;
}
.greeting i{
  color: #5570f8;
  font-size:20px;
  background-color: #e0e7ff;
  padding: 7px;
  border-radius: 10px;
  margin-right: 5px;
}
.hero-left h1{
  font-size: 35px;
  font-weight: bold;

}
.hero-left h2{
 color: gray;}
 .hero-left span{
   color: black;
 }
 .skill{
   color: gray ;
 }
.hero-left{
  width:450px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:10px;
}
.points{
  display: flex;
  gap: 25px;
}
.points span i{
  margin-right: 7px;
  color: #5570f8;
}
.points span{
padding: 7px 13px;
border-radius:17px;
font-weight: bold;
font-size:15px;
border: 1px solid #e6e6e6;
background-color: #f1f5f9;
color: #4a4a4a;
}
.hero-action{
  display: flex;
  align-items: center;
  gap: 20px;
}
.btn-secondary {
  background-color: black;
  padding: 10px 15px;
  border-radius: 17px;
  color: white;
  display: block;
}

.hero-right{
  width:500px;
  padding: 30px;
  border-radius: 30px;
  background-color: ghostwhite;
  
}
.hero-right img{
  width: 100%;
  border-radius: 30px;
  border: 3px solid #7263f3;
  background-color: white;
}
.info {
  display: flex;
  justify-content: space-evenly;
}
.info span i{
  margin-right: 10px;
  font-size: 20px;
}
.tech{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  padding: 10px 10px;
  border-radius: 10px;
  align-items: center;
}
.tech .fa-brands{
  font-size: 20px;
}
.tech span .fa-layer-group{
  margin-right: 10px;
}
.tech div{
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tech div span{
  padding: 15px 20px;
  background-color: rgb(243, 248, 255);
  border-radius: 10px;
}
.skill-container{
  
}
.skill-container h2{
  text-align: center;
  font-size: 35px;
}
.skill-section{
  padding: 50px 0px;
}
.skillbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.skillbox-container div{
 width: 250px;
 height: 220px;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 10px;
 gap: 20px;
 border-radius: 20px;
 border: 1px solid lightgray;
 background-color: white;
}
.skillbox-container div:hover{
  transform: translateY(-3px);
  border-color: skyblue;
  color: lightskyblue;
}
.skillbox-container div span
 {
  padding: 15px 20px;
  background-color: rgb(243, 248, 255);
  border-radius: 10px;
}
.skillbox-container i{
  font-size: 24px;
}
.skillbox-container div p{
  text-align: center;
  line-height: 1.5;
}
